body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(30deg, rgb(30, 30, 30), rgb(37, 37, 37), rgb(44, 44, 44), rgb(51, 51, 51), rgb(58, 58, 58), rgb(65, 65, 65), rgb(72, 72, 72));
    color: white;
    text-align: center;
}

header{
    height: 30vh;
}

header h1{
    margin: 0;
    padding-top: 3rem;
    color: rgb(236, 236, 236);
    font-family: 'Saira', sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -2px 2px 8px rgb(34, 34, 34), 2px 2px 8px rgb(36, 36, 36);
}

header p{
    margin: 0 auto;
    width: 50%;
    max-width: 50%;
    font-size: 0.8rem;
}

main{
    height: 70vh;
}

#start-game-button{
    margin-top: 3rem;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    border: none;
    color: rgb(249, 249, 249);
    background: linear-gradient(90deg, rgb(39, 39, 39), rgb(22, 22, 22), rgb(0, 0, 0));
    box-shadow: 1px 1px 8px rgb(35, 35, 35), -1px 1px 8px rgb(27, 27, 27);
    font-family: 'Saira', sans-serif;
    font-size: 1.5rem;
}

#start-game-button:hover{
    background: linear-gradient(90deg, rgb(32, 32, 32), rgb(12, 12, 12), rgb(0, 0, 0));
    cursor: pointer;
}

#game-board{
    margin: 1rem auto;
    display: none;
    /* width: 60%; */
    /* display: none; */
}

#game-board ol{
    margin: 0 auto;
    padding: 0;
    width: 60%;
    color: black;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    gap: 0.5rem;
    justify-content: center;
}

#game-board li{
    border-radius: 4px;
    background-color: rgb(29, 29, 29);
    color: rgb(238, 238, 238);
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board li:hover{
    background-color: rgba(105, 105, 105, 0.2);
}

#game-board li.disabled{
    background-color: rgb(38, 38, 38);
    border: 1px solid black;
    cursor: default;
}

#game-board p{
    visibility: hidden;
}

#restart-button{
    margin: 1rem;
    padding: 0.4rem;
    width: 3rem;
    height: 3rem;
    border: 2px solid;
    border-color: rgb(68, 68, 68);
    background-color: transparent;
    border-radius: 1.5rem;
}

#restart-button:hover{
    background-color: rgb(68, 68, 68);
    cursor: pointer;
    color: white;
}

#game-stats{
    /* margin: 4rem auto; */
    width: 40%;
    height: 20vh;
    margin: auto;
}

#game-stats ul{
    margin: 4rem auto 1rem auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    row-gap: 1rem;
    justify-content: center;
    font-size: 1.2rem;
}

#btns button{
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    width: 30%;
    border: 2px solid;
    border-color: rgb(68, 68, 68);
    border-radius: 4px;
    color: white;
    background-color: transparent;
    font: inherit;
    font-size: 0.7rem;
    justify-content: center;
}

#btns button:hover{
    border-color: transparent;
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}

#game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}